button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    display: inline-block;
    border-radius: 4px;
    background-color: #1BA7CE;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    padding: 8px;
    width: 60px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

button.full-width,
input[type="submit"].full-width,
input[type="reset"].full-width,
input[type="button"].full-width {
width: 100%; padding-left: 0 !important; padding-right: 0 !important; text-align: center; }

button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
/* IE10 */
background-image: -ms-linear-gradient(top, #1BA7CE 0%, #1BA7CE 100%);
/* Mozilla Firefox */
background-image: -moz-linear-gradient(top, #1BA7CE 0%, #1BA7CE 100%);
/* Opera */
background-image: -o-linear-gradient(top, #1BA7CE 0%, #1BA7CE 100%);
/* Webkit (Safari/Chrome 10) */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1BA7CE), color-stop(1, #1BA7CE));
/* Webkit (Chrome 11+) */
background-image: -webkit-linear-gradient(top, #1BA7CE 0%, #1BA7CE 100%);
/* Proposed W3C Markup */
background-image: linear-gradient(top, #1BA7CE 0%, #1BA7CE 100%);
/* IE6-9 */
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#1BA7CE', endColorstr='#1BA7CE');

-moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px;
-moz-box-shadow: inset 0 1px 0 0 black;
-webkit-box-shadow: inset 0 1px 0 0 black;
-o-box-shadow: inset 0 1px 0 0 black;
box-shadow: inset 0 1px 0 0 black;
cursor: pointer; }
