#my-about-block {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.node h2.title a, h1.page-title {
  color: #000000;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 10px;
}

#content .node-teaser {
  padding-bottom:20px;
  border-bottom:1px solid #DDDDDD;
  margin-bottom: 15px;
}

.node-teaser img {
  border: 1px solid #CCCCCC;
  padding: 6px;
  height: auto;
  max-width: 97.4%;
  margin: 0.5em 1em 0.5em 0;
  float: left;
}
.page-node #content-wrap img {
  border: 1px solid #CCCCCC;
  padding: 6px;
  height: auto;
  max-width: 97.4%;
  margin: 0.5em 1em 0.5em 0;
}

.region-content-top {
  margin-bottom: 20px;
}

// looking at a2a_kit
div.content span a {
    // display: flex;
    // flex-direction: column;
    margin-bottom: 10px;
    margin-top: 10px;
}



.node-teaser > div.content {
    display: flex;
    flex-wrap: wrap;
}
div.field.field-name-field-pickup-skill-level.field-type-list-text.field-label-above, div.field.field-name-field-sport.field-type-list-text.field-label-above {
    margin-right: 2em;
}

div.field.field-name-field-date.field-type-datetime.field-label-above {
    margin-right: 5em;
}

#block-system-main > div > div.content {
    // border: 1px solid red;
    // display: flex;
    // flex-wrap: wrap;
}
