.field-name-field-tags {
  margin: 0 0 10px 0;
}


.field-name-field-tags a{
  background: #85AC20;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 2px;
  color: #fff;
  padding: 2px 6px;
}

.field-name-field-tags a:hover{
  background: #556E15;
  color: #fff;
}

.field-name-field-tags div {
  display: inline;
}
