#primary, #sidebar{
  padding-top: 20px;
  padding-bottom: 20px;
}

#main-content {
  padding-top: 15px;
}


#edit-zip {
  border-radius: 5px;
}
.field-label-above {
  margin-bottom: 10px;
}

.flag-my-games {
  // float: right;
}

footer ul.links.inline
{
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;

}

footer ul.links.inline li:nth-child(3) {
  margin-left: auto;
}

.node {
    padding: 10px 20px 5px 20px;
    margin: 15px 0 10px 0;
    box-shadow: 0 1px 3px;
}

#my-about-leagues {
    background-color: #ffcdd2;
    text-align: center;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: -300px;
    margin-right: -300px;
    box-shadow: 0 1px 3px 2px #757575;
    p {
        padding-left: 20%;
        padding-right: 20%;
    }
}

#my-about-pickups {
    background-color: #c8e6c9;
    text-align: center;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: -300px;
    margin-right: -300px;
    box-shadow: 0 1px 3px 2px #757575;
    p {
        padding-left: 20%;
        padding-right: 20%;
    }
}

#my-about-runs-and-races {
    background-color: #e3f2fd;
    text-align: center;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: -300px;
    margin-right: -300px;
    box-shadow: 0 0px 2px 2px #757575;
    p {
        padding-left: 20%;
        padding-right: 20%;
    }
}

#my-about-places {
    background-color: #fff9c4;
    text-align: center;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: -300px;
    margin-right: -300px;
    box-shadow: 0 0px 1px 2px #757575;
    p {
        padding-left: 20%;
        padding-right: 20%;
    }
}
