
.content {
  p {
    a {
      color: $sportal_green;
    }[href="/contact"] {
      color: grey !important;
    }
  }
}

a {
  color: $sportal_blue;
}
a:visited {
  color: $sportal_blue;
}
a:hover,
a:focus,
a:active {
  color:#1db5df;
  text-decoration: none;
}

.links li a {
  background-color: #E7E5E3;
  color: #100100;
  padding: 4px 5px;
  border-radius: 4px;
  text-shadow: 1px 1px #fff;
  font-weight: normal;
}

.links li a:hover {
  background-color: #D7D5D3;
  color: #100101;
}
