@media screen and (max-width: 768px) {
  html{
    font-size: 60%;
  }

  h1#site-title{
    text-align: center;
  }

  #site-logo {
    padding-top: 0;
  }

  select.mnav{
    width: 100%;
    margin-bottom: 20px;
  }

  #main-menu{
    display:none;
  }

  .flex-caption{
    display: none;
  }

}
