#slidebox{
  max-height: 550px;
  position: relative;
  background: #000;
}

.doverlay{
  background: url(images/overlay.png);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top:0px;
  z-index: 100;
}

img.grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

.flex-caption{
  width: 800px;
  position: absolute;
  top:28%;
  left: 50%;
  margin-left: -400px;
  text-align: center;
  z-index: 120;
  color: #fff;
}

.flex-caption h2{
  text-transform: uppercase;
  font-size: 36px;
  color: #fff;
}

.flex-caption h2 a:link, .flex-caption h2 a:visited{
  color: #fff;
}

.flex-caption p{
  font-size: 16px;
}

a.frmore{
  background: rgba(255,255,255,0.2);
  display: block;
  text-transform: uppercase;
  color: #fff;
  width: 150px;
  border: 1px solid #fff;
  padding: 5px 0px;
  margin: 10px auto;
  font-weight: bold;
  color: #fff!important;
}

#preface-area {
  background: none repeat scroll 0 0 #ED564B;
  border-bottom: 5px solid #F96B61;
  border-top: 5px solid #F96B61;
  padding: 40px 0 20px;
}

.preface-block{
  color: #fff;
  text-align: center;
}


.preface-block .block > h2{
  font-size: 24px;
  font-weight: bold;
}

#header-block, #footer-block {
  padding: 20px 0 0;
}


#bottom{
  padding: 20px 0px 40px 0px;
  background: #3b3b3b;
  border-top:5px solid #000000;
}

.footer-block{
  color: #aaa;
}

.footer-block .block > h2{
  font-size: 16px;
  margin-bottom: 10px;
  padding: 10px 0px;
  color:#fff;
  text-transform: uppercase;
}


div.password-suggestions { border: 0; }

.ui-widget-overlay { background: #222222; opacity: 0.7; }

div.vertical-tabs .vertical-tabs-panes fieldset.vertical-tabs-pane { padding: 1em; }

#forum .name { font-size: 1.083em; }

#forum .description { font-size: 1em; }

#block-search-form { padding-bottom: 7px; }

#block-search-form .content { margin-top: 0; }

#search-form .form-item-keys label { display: block; }


ol.search-results { padding-left: 0; }

.search-results li { border-bottom: 1px solid #d3d7d9; padding-bottom: 0.4285em; margin-bottom: 0.5em; }

.search-results li:last-child { border-bottom: none; padding-bottom: none; margin-bottom: 1em; }

.search-results .search-snippet-info { padding-left: 0; }


.meta {
  margin: 5px 0 10px 0;
}

.meta a {
  color: #999;
}

.meta a:hover {
  color: #000;
}

.meta li {
  display: inline;
  margin-right: 5px;
  margin-right: 10px;
}

.meta strong{
  font-weight: 600;
  color: #111;
}

.meta li:last-child {
  margin-right: 0;
  padding-right: 0;
  background: none;
}
