.site-footer{
  padding: 10px 0px;
  background:#292929;
  font-size: 12px;
}

.fcred{
  padding: 10px 0px;
  color: #bbb;
}

.fcred a:link, .fcred a:visited{
  color:#fff;
}

#footer-block {
  padding: 20px 0 0;
}

#footer-block a {
    color: #fff !important;
}

a.follow-link-facebook, a.follow-link-twitter {
    background-repeat: no-repeat;
    padding-bottom: 40px;
}
